{% extends 'queueweb/base.html' %}
{% load widget_tweaks %}
{% load static %} 

{% block title_block %}
    Input your information!
{% endblock %}

{% block body_block %}
<div class="container">

    
    
    <img src="{% static "images/welcome.png" %}" alt="Uh oh, didn't show"> 
    <h2>Our store is {{ store.name }} </h2>

    <h2>Please fill in your information!</h2>
    <div>
        <form method="post"  class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
       
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                        {% if field.help_text %}
                            <small class="form-text text-nuted">{{ field.help_text }}</small>
                        {% endif %}
                        {{ field.errors }}
                   
                    </div>
       
                {% endfor %}
       
              
                <br>
                <input type="reset" class="form-label" value="Cancel">
                <input type="submit" class="form-label" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}


