{% extends 'queueweb/base.html' %}
{% load static %} 

{% block title_block %}
    Current Queue Status
{% endblock %}

{% block body_block %}
<div class="container">
    <img src="{% static "images/welcome.png" %}" alt="Uh oh, didn't show"> 
    
        <div>
            <h2><strong>Hi {{ customer.first_name }}! You are here!</strong></h2>
           {% if store %}
            <h3>Welcome to {{ store.store_name }}</h3>
                {% if queue %}
                <h3>Today is {{ queue.queuedate }}</h3>
                {% else %}
                <h3>No queue</h3>
                {% endif %}
            {% endif %}
            <div>
                <h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        
                    </svg>
                    Potential waiting time {{ customer.potential_wait_time }}
                </h5>
                <h5>You join in the queue at 
              
                    {{customer.join_time}} 
                  
                </h5>
            </div>
            
            <h5>
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    You are the number {{ number_in_line }} in line!
                
                
            </h5>
        </div>
        <div >
            <form method="post" class="align-items-center" action="/queueweb/store/{{ store.slug }}/{{ customer.id }}/customer_leave" >
                {% csrf_token %}
                <input type="submit" class="form-label" name="Leave the Queue!" value="Leave the Queue!"id="" >
                    
            </form> 
            <form action="">
                <input type="submit" class="form-label" name="Update information!" value="Update information!" id="" >   
            </form>
        </div>
        
</div>
{% endblock %}







