django
django-widget-tweaks
django-crispy-forms
certifi>=2020.4.5.1
cffi>=1.14.0
chardet>=3.0.4
cryptography
idna
pycosat
pycparser
pyOpenSSL
PySocks
pyusb
qrcode
requests
ruamel-yaml
six
tqdm
urllib3                    
wheel
django-widget-tweaks
django-crispy-forms
numpy
conda
conda-manager
opencv-python
tensorflow
