{%extends "uiweb/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card content-section col-md-4 mx-auto shadow p-3 mb-5 bg-white rounded">
                    
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{resetPwd_passwordForm|crispy }}
                    </fieldset>
                    <div class="form-group">
                    <button class="btn btn-block btn-outline-dark" type="submit">Reset Password</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <footer style="position:fixed;bottom: 0px;left: 0;width: 100%;">
        <div class="text-center text-white p-3" style="background-color: #444444;">
            © 2021 Copyright:
            <a class="text-white" href="https://sccs.com/">sccs.com</a>
        </div>
        </footer>
{% endblock content %}

