{%extends "uiweb/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class=" card container-fluid col-md-4 mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                        <h3 class="text-center">Reset Password</h3>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                        {{ resetPwdForm.email|as_crispy_field  }}
                        
                        </fieldset>
                        <div class="form-group">
                        <button class="btn btn-outline-dark btn-block" type="submit">Submit</button>
                        </div>
                    </form>
            </div>        
    </div>
    </div>
</div>
<footer style="position:fixed;bottom: 0px;left: 0;width: 100%;">
    <div class="text-center text-white p-3" style="background-color: #444444;">
        © 2021 Copyright:
        <a class="text-white" href="https://sccs.com/">sccs.com</a>
    </div>
    </footer>
{% endblock content %}