{% load static%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'uiweb/main.css' %}">
    <title>SCCS</title>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 40%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 2px 16px;
            display: flex;
            justify-content: center;
            width: 80%;
        }

    </style>
</head>


<body>
    <header class="site-header">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'Home_Page' %}">SCCS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'Home_Page' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'About_Page' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'Logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'Profile' %}">Profile</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <img class="d-block" style="width: 300px; height: 300px ; padding : 4px " src="{% static 'uiweb/dummyprofilepic.png' %}" alt="Profile picture">
        <div class="card card-body">
            <legend>Details</legend>
            <table class="table table-hover">
                <tr>
                    <td>Name</td>
                    <td>{{context.name}}</td>
                </tr>
                <tr>
                    <td>Store Name</td>
                    <td>{{context.store_name}}</td>
                </tr>
                <tr>
                    <td>Store Email</td>
                    <td>{{context.email}}</td>
                </tr>
                <tr>
                    <td>Store Phone</td>
                    <td>{{context.phone}}</td>
                </tr>
                <tr>
                    <td>Store address</td>
                    <td>{{context.address}}</td>
                </tr>
                <tr>
                    <td>Store url</td>
                    <td>{{context.url}}</td>
                </tr>
                <tr>
                    <td>Date Joined</td>
                    <td>{{context.date_joined}}</td>
                </tr>
            </table>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>