{%extends "uiweb/base.html"%}
{% load crispy_forms_tags %}
{% block content %}

    <div class = ' card content-section col-md-4'>
        <form method ="POST" action  = "">
            {%csrf_token %}
            <fieldset class = "form-group">
                <legend><center>Join Today</center></legend>
                {{form | crispy}}
            </fieldset>
            <div class ='form-group'>
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form> 
        <div class = "border-top pt-3">
            <small class = "text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'Login' %}">Sign In</a>
            </small>
        </div>      
    </div>

{% endblock content %}


<!-- fields = (store_name','owner_first_name','owner_last_name','store_phone','email','store_url','store_address','store_capacity','password')
widgets = {
    'store_name': TextInput(attrs={'placeholder': 'Name'}),
} -->